/* ==================================== general */
/* Stick footer to the bottom */
html, body {
	height: 100%;
}
.main-container {
	min-height: 80%;
	padding-bottom: 40px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; 
}
/* ==================================== /general */

/* ==================================== header */

/* Site name */
.navbar>.container .navbar-brand {
  margin-left: -0.4em;
}

.navbar {
  margin-bottom: 0px;
}

header {
  margin-bottom: 2em;

}
/* ==================================== /header */

/* ==================================== blocks */
#block-serchilo-licenses {
  display: inline-block;
}
#block-serchilo-add-to-browser {
  display: inline-block;
  float: right;
}
#block-serchilo-namespaces {
  background: #011d24;
  background: #aa2c30;
  display: inline-block;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}
/* ==================================== /blocks */

/* ==================================== autocomplete */
.left       { float: left !important; }
.right      { float: right !important; }

.ui-autocomplete {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: inherit;
  padding: 5px 0;
}

.ui-menu-item .ui-state-focus {
  background: #0081c2;
  color: #fff;
  border-radius: 0;
}

.ui-menu-item span {
	margin: 0em 0.2em;
}
.ui-menu-item .keyword {
	font-weight:bold;
}
.ui-menu-item .unreachable .keyword {
  color: #aaa;
}
.ui-menu-item .unreachable.ui-state-focus .keyword {
  color: #fff;
}
.ui-menu-item .argument-names {
	color: #444;
}
.ui-menu-item .ui-state-focus .argument-names {
  color: #ddd;
}
.ui-menu-item .unreachable .argument-names {
  color: #aaa;
}
.ui-menu-item .unreachable .title {
  color: #aaa;
}
/* ==================================== /autocomplete */

/* ==================================== namespaces */
.namespace {
  color: #ffffff;
  background: #aa2c30;
  padding: 0.2em 0.4em;
  text-decoration:none;
  white-space: nowrap;
  margin-left: 0.2em;
  margin-right: 0.2em;
}


a.namespace:hover {
  color: #ffffff;
  text-decoration: none;
}

.ui-autocomplete .namespace {
  padding: 0.2em;
}

.unreachable .namespace {
  background: #8EaAaC;
}
/* ==================================== /namespaces */

/* ==================================== query */
a.query,
a.query:visited,
a.query:hover

{
  /*color: #428bca;
  color: #487b7f;
  background: #ffffff;
  border: 1px solid #487b7f;
  border: 1px solid #428bca;
  font-weight: normal;
  padding: 0.2em 0.4em;
  margin: 0.2em 0em;
  display: inline-block;
  border-radius: 0.4em;
  text-decoration:none;*/
  white-space: nowrap;
}
/* ==================================== namespaces */

/* ==================================== view: shortcuts */
.field.field-name-field-namespace a,
td.views-field-field-namespace a,
.view-namespaces td.views-field-name a
{
  color: #ffffff;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background: #aa2c30;
  padding: 0.2em 0.4em;
  white-space: nowrap;
  text-decoration: none;
}

.field.field-name-field-tags a,
.views-field-field-tags a,
.view-tags td.views-field-name a
{
  color: #011d24;
  background: #ffbe8d;
  padding: 0.2em 0.4em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  /* margin: 0 0.2em; */
  text-decoration:none;
  white-space: nowrap;
}

/* Have some vertical space for tags to avoid them overlapping. */
.views-field-field-namespace a,
.views-field-field-tags a {
	line-height: 2em;
}

.field.field-name-field-namespace,
.field.field-name-field-tags,
.field.field-name-field-namespace *,
.field.field-name-field-tags *
{
  display: inline-block;
}
.namespace-tags {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Collapsing Exposed Filters Widgets */
.views-exposed-widget.collapsible label {
  text-decoration: underline;
  cursor: pointer;
}

/* Tags in Shortcuts view */
.views-field-field-tags ul {
  padding: 0;
}
.views-field-field-tags li {
  list-style: none;
  display: inline;
}
/* ==================================== /view: shortcuts */

/* ==================================== view: feed icons */
.view-header .feed-icon {
  float: right;
}
/* ==================================== /view: feed icons */

/* ==================================== examples */

/* Do not truncate in Shortcut example */
.dl-horizontal dt { 
  white-space: normal; 
}

/* Message box suggestions */

.alert-block dl {
  margin-top: 0.4em;
  margin-bottom: 0;
}

/* ==================================== /examples */

/* ==================================== console */

/* Console Examples */

#console-examples h3 {
  font-size: 1.2em;
}

#console-examples dl {
  margin: 0;
}
#console-examples .field-collection-container {
  border: 0;
}

/* Console more */
#console-more {
  margin-top: 1em;
}

#console-more div {
  display: inline;
}

/* ==================================== /console */

/* ==================================== shortcut display & edit */

/* Set field-label width to dl-horizontal width. */
.node-shortcut .field-label {
  width: 180px;
}

/* Shortcut call form bottom margin */
#serchilo-shortcut-call-form {
	margin-bottom: 2em;
}

/* field_description */
.node-shortcut .field-name-field-description {
  margin-top: 1em;
}

/* Hide "More information about text formats" */
fieldset.filter-wrapper {
  display: none;
}
/* Views display count */
.view-header {
  margin: 1em 0;
}

.form-help {
  margin-bottom: 1em;
}

/* Field Group */
.field-group-accordion-wrapper {
  margin-bottom: 1em;
}

/* Remove: "Revisions allow you to track differences between multiple versions of your content, and revert back to older versions." */
body.page-node-revisions.node-type-shortcut div.region-help {
  display: none; 
}

/* Hide "Standard" "Marked down" switches */
body.page-node-revisions-view td.diff-links {
  display: none;
}

/* Hide "Show row weights" */
#edit-field-example .tabledrag-toggle-weight-wrapper,
#edit-field-test .tabledrag-toggle-weight-wrapper {
  display: none;
}
/* ==================================== /shortcut display & edit */

/* ==================================== console edit */

#intro {
  margin-bottom: 1em;
}

/* ==================================== /console edit */

/* ==================================== forum */

.submitted {
	margin-top:    1em;
	margin-bottom: 1em;
	font-style: italic;
}

.node-discussion .field-name-field-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.comment li.comment-reply {
  display: none;
}

.comment h3 {
  display: none;
}
#comments h2 {
	font-size: 1.5em;
}

/* ==================================== /forum */
/* ==================================== blog */

figure {
	text-align: center;
}
figure img {
	border: 1px solid #ccc;
	padding: 5px;
}
figcaption {
	margin-top: 0.5em;
	font-style: italic;
}

/* ==================================== /blog */
