[submodule "themes/boostrap_serchilo/bootstrap"]
	path = themes/boostrap_serchilo/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "themes/boostrap_serchilo/bootswatch"]
	path = themes/boostrap_serchilo/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
